.task-container {
	width: 24em;
	justify-content: center;
	align-items: stretch;
}

.expired-tasks-count-container {
	color: #828282;
	font-size: 24px;
	padding: 16px 0px;
}

/* phones */
@media only screen and (max-width: 512px) {
	.task-container {
		width: 80vw;
	}
}

/* tablets */
@media only screen and (min-width: 513px) and (max-width: 880px) {
	.task-container {
		display: flex;
	}
}
