:root {
	--font: 200 16px 'Readex Pro', sans-serif;
	--button-font: 600 16px 'Readex Pro', sans-serif;
	--primaryColor: #5ce595;
	--primaryGradient: linear-gradient(
		270.07deg,
		#20d8aa 4.09%,
		rgba(86, 217, 132, 0.973704) 99.94%
	);
	--primaryGrey: #f2f2f2;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Readex Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
