.input-text-container {
	width: 100%;
	padding: 8px 0px;
}

.input-text-label {
	padding: 8px;
}

.input-text {
	width: 100%;
	margin-top: 8px;
	font: var(--font);
	background: #ffffff;
	border: 0.5px solid #828282;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 5px;
}

.input-checkbox-container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 8px 0px;
}

.input-checkbox-label {
	font: var(--font);
	padding: 16px;
	width: 20rem;
	background: #ffffff;
	border: 0.5px solid #828282;
	box-sizing: border-box;
	border-radius: 5px;
}

.input-checkbox {
	width: 32px;
	margin: 8px 16px;
}

.input-checkbox-label-disabled {
	text-decoration: line-through;
}
